<div *ngIf="!isConnected" id="usernamePage" class="page">
    <div class="container">
        <div class="chat__header">
            <img src="../assets/logo.png" alt="logo" class="logo" />
            <h1 class="title">Customer Support</h1>
        </div>
        <form (ngSubmit)="connect()" class="form">
            <div class="form-group">
                <input [(ngModel)]="username" name="username" type="text" id="name" placeholder="Username"
                    autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="form__submit">Join</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isConnected" id="chat" class="page">
    <div class="container">
        <div class="chat__header">
            <img src="../assets/logo.png" alt="logo" class="logo" />
            <h1 class="title">Customer Support</h1>
        </div>
        <div *ngIf="connectingMessage" class="connecting">{{ connectingMessage }}</div>
        <div id="messageArea">
            <div *ngFor="let message of messages"
                [ngClass]="{'event-message': message.type !== 'CHAT', 'chat-message': message.type === 'CHAT'}">
                <span *ngIf="message.type === 'CHAT'">{{ message.sender }}</span>
                <p>{{ message.type === 'CHAT' ? message.content : message.sender + ' ' + (message.type === 'JOIN' ?
                    's\'est connecté' : 's\'est deconnecté') }}</p>
            </div>
        </div>
        <form (ngSubmit)="send()" id="typingArea" class="form">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input [(ngModel)]="message" name="message" type="text" id="message"
                        placeholder="Ecrivez votre message..." autocomplete="off" class="form-control" />
                    <button type="submit" class="form__submit">Send</button>
                </div>
            </div>
        </form>

    </div>
</div>